@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
    from {
        transform: translateY(110vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 0.8s ease-in-out forwards;
}